sudo: false
language: python

env:
  global:
    - MO_ADDRESS=127.0.0.1:20000

matrix:
  fast_finish: true
  include:
    - python: 2.6
      env: MONGODB=3.4.0
    - python: 2.7
      env: MONGODB=3.2.11
    - python: 3.3
      env: MONGODB=3.0.14
    - python: 3.4
      env: MONGODB=2.6.12
    - python: 3.5
      env: MONGODB=2.4.14

install:
  - pip install "mongo-orchestration>=0.6.7,<1.0"
  - wget http://fastdl.mongodb.org/linux/mongodb-linux-x86_64-${MONGODB}.tgz
  - tar zxf mongodb-linux-x86_64-${MONGODB}.tgz
  - export PATH=${PWD}/mongodb-linux-x86_64-${MONGODB}/bin/:${PATH}
  - mongod --version

before_script:
  - mongo-orchestration start -p 20000 -b 127.0.0.1

script:
  - python setup.py test

after_script:
  - mongo-orchestration stop
